@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

body{
    background-image: url(../img/fondo.png);
    /* background-color: black; */
	background-position: center;
	background-repeat: repeat;
    background-size: 50%;	
	overflow-x: hidden;
    font-family: 'Dosis';
}
.login{
    margin-top: 250px;
    padding-top:50px;
    background-color: whitesmoke;
    width: 400px;
    height: 350px;
    border-radius: 5px;
}

.user, .btn-login{
    margin-top: 20px;
    width: 90%;
    height: 40px;

}

.menu{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(179, 19, 19);
    height: 80px;
    z-index: 5;
}

.bienvenido{
    position: absolute;
    top: 0;
    width: 100%;    
    color: white;
    z-index: 8;
    font-size: 24px;
    text-align: center;
    height: 80px;
    padding-top: 20px;
    font-weight: 500;
}

.b1{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.b1:hover{
    background-color: white;
    color: rgb(179, 19, 19);
    transform: scale(1.1);
}

.listaproductos, .paso2, .comprobante{
    margin-top: 120px;
}

.paso2{
    background-color: aliceblue;
}

.comprobante{
    background-color: aliceblue;
    min-height: 200px;
    width: 100%;
    padding-top: 80px;
}